In [1]:
# Importing pickle file

import pickle
with open('model.pkl', 'rb') as f:
    model = pickle.load(f)

In [3]:
# Importing libraries dataset to precdict

df = pd.read_csv('cleantitanic.csv')

In [6]:
df

     pclass  age  sibsp  parch  ...  embarked_C  embarked_Q  embarked_S  survived
0         3   29      0      0  ...           0           1           0         1
1         3   38      0      0  ...           0           0           1         0
2         3   30      1      1  ...           0           0           1         0
3         2   54      1      3  ...           0           0           1         1
4         2   40      0      0  ...           0           0           1         0
..      ...  ...    ...    ...  ...         ...         ...         ...       ...
835       1   55      0      0  ...           0           0           1         0
836       1   58      0      0  ...           1           0           0         0
837       2   24      1      0  ...           0           0           1         1
838       3    3      1      1  ...           0           0           1         0
839       2   52      0      0  ...           0           0           1         0

[840 rows x 10 columns]

In [8]:
X = df.drop('survived', axis=1)
y = df[['survived']]

In [9]:
y_pred = model.predict(X)

In [10]:
# Printing metrics of the model

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

print('Accuracy Score: ', accuracy_score(y, y_pred))
print('Confusion Matrix: ', confusion_matrix(y, y_pred))
print('Classification Report: ', classification_report(y, y_pred))

Accuracy Score:  0.9369047619047619
Confusion Matrix:  [[512  23]
 [ 30 275]]
Classification Report:                precision    recall  f1-score   support

           0       0.94      0.96      0.95       535
           1       0.92      0.90      0.91       305

    accuracy                           0.94       840
   macro avg       0.93      0.93      0.93       840
weighted avg       0.94      0.94      0.94       840